{% load static %}

<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %} {% endblock %}</title>
    <style>
      body {
        background-image: url("{% static "images/background-nerd.png" %}");
        background-repeat: repeat;
        background-size: 192px 192px;
      }
    </style>
    <link href="{% static "css/tailwind.css" %}" rel="stylesheet" type="text/css" />
  </head>
  <body
    class="
      flex flex-row
      items-center
      m-0
      p-0
      bg-gray-800
      w-full
      h-full
      min-h-screen min-w-screen
    "
  >
    <main class="flex flex-grow flex-col items-center place-content-center">
      <svg
        viewBox="0 0 24 24"
        role="presentation"
        class="text-gray-500 w-48 h-48"
      >
        <path
          d="{% block icon_path %} {% endblock %}"
          style="fill: currentcolor"
        ></path>
      </svg>

      <div class="text-primary-500 text-4xl font-bold">
        {% block status %} {% endblock %}
      </div>
      <a
        href="/"
        class="
          p-2
          border-b-2
          text-gray-300
          select-none
          border-gray-500
          hover:border-primary-400
        "
      >
        Return home
      </a>
    </main>
  </body>
</html>
